body{
    background-image:url(img/Diseño\ sin\ título\ \(4\).png)
;
}

h1{
    color: #128d0d;
}

img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.texto{
    width:100%;
    background-color:rgb(255, 255, 255);
    text-align: center;
    font-size:40px;
	font-weight:bolder;  
}
.grupo-fotos{
    background-color: #118d0d00;
}

.foto{
    background-color: #118d0d00;
    width: 30%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

/*Boton*/
.myButton {
	box-shadow:inset 0px 1px 29px -21px #ffffff;
	background:linear-gradient(to bottom, #ffffff81 5%, #ffffff52 100%);
	background-color:#1c9c0b;
	border-radius:35px;
	border:5px solid #85d826;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bolder;
	padding:22px 34px;
	text-decoration:none;
	text-shadow:-1px 2px 0px #01290a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #33ff00 5%, #33ff00 100%);
	background-color:#33ff00;
}
.myButton:active {
	position:relative;
	top:1px;
}
form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #00000000;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;

    /* Tamaño uniforme del campo de texto */
    width: 300px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 5px solid #005f05;
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
  
    /* Proporcionar espacio para escribir texto */
    height: 2em;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    margin-left: 0.5em;
  }