@font-face {
  font-family: "FuenteFachera";
  src: url("fonts/CalSans-Regular.ttf");
}

body {
  background-image: url();
  margin: 0;
  font-family: "FuenteFachera", Arial, sans-serif;
}
nav {
  background-color: #0a3b0a;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#listanav {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#listanav a {
  text-decoration: none;
  color: #00a708;
  font-size: 20px;
  transition: color 0.3s ease;
}

#listanav a:hover {
  color: #8ef18e;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container-img img {
  max-width: 300%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
#pasto{
  position:absolute;
  top:0;
  z-index: -100;
  opacity:1;
}
.texto {
  width: 100%;
  background-color: #ffffffcc;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding: 20px;
}

h1 {
  color: #128d0d;
}

.grupo-fotos {
  background-color: transparent;
  text-align: center;
  margin: 20px 0;
}

.foto {
  width: 30%;
  display: inline-block;
  margin: 10px;
  background-color: transparent;
}

.foto img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}
.myButton {
  box-shadow: inset 0px 1px 29px -21px #ffffff;
  background: linear-gradient(to bottom, #ffffff81 5%, #ffffff52 100%);
  background-color: #1c9c0b;
  border-radius: 35px;
  border: 5px solid #85d826;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bolder;
  padding: 22px 34px;
  text-decoration: none;
  text-shadow: -1px 2px 0px #165224;
  transition: background-color 0.3s ease;
}

.myButton:hover {
  background: linear-gradient(to bottom, #33ff00 5%, #33ff00 100%);
  background-color: #33ff00;
}

.myButton:active {
  position: relative;
  top: 1px;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border-radius: 1em;
  background-color: #ffffff;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 2em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}